apiVersion: apps/v1
kind: Deployment
metadata:
  name: alert
  namespace: agrosolutions
spec:
  replicas: 1
  selector:
    matchLabels:
      app: alert
  template:
    metadata:
      labels:
        app: alert
    spec:
      containers:
      - name: alert
        image: alqueiroz/agrosolutions-alert:latest
        imagePullPolicy: Always
        env:
        - name: ASPNETCORE_ENVIRONMENT
          value: "Development"
        - name: RabbitMQ__Host
          value: "rabbitmq"
        - name: RabbitMQ__Username
          value: "guest"
        - name: RabbitMQ__Password
          value: "guest"
        - name: ConnectionStrings__AlertConnection
          value: "Server=mssql,1433;Database=AlertDb;User Id=sa;Password=Your_password123;TrustServerCertificate=True;Connection Timeout=60;"
        - name: ConnectionStrings__PropertyConnection
          value: "Server=mssql,1433;Database=PropertyDb;User Id=sa;Password=Your_password123;TrustServerCertificate=True;Connection Timeout=60;"
        resources:
          requests:
            memory: "256Mi"
            cpu: "250m"
          limits:
            memory: "512Mi"
            cpu: "500m"