apiVersion: apps/v1
kind: Deployment
metadata:
  name: gateway
  namespace: agrosolutions
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gateway
  template:
    metadata:
      labels:
        app: gateway
    spec:
      containers:
      - name: gateway
        image: alqueiroz/agrosolutions-gateway:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 80
        env:
        - name: ASPNETCORE_ENVIRONMENT
          value: "Development"
        - name: ASPNETCORE_URLS
          value: "http://+:80"
        - name: Jwt__Key
          value: "AgroSolutions-SuperSecretKey-ChangeInProduction-2024-MinLength32Chars!"
        - name: Jwt__Issuer
          value: "AgroSolutions"
        - name: Jwt__Audience
          value: "AgroSolutions"
        resources:
          requests:
            memory: "256Mi"
            cpu: "250m"
          limits:
            memory: "512Mi"
            cpu: "500m"