apiVersion: apps/v1
kind: Deployment
metadata:
  name: identity
  namespace: agrosolutions
spec:
  replicas: 2
  selector:
    matchLabels:
      app: identity
  template:
    metadata:
      labels:
        app: identity
    spec:
      containers:
      - name: identity
        image: agrosolutions/identity:latest
        imagePullPolicy: Never
        env:
        - name: ASPNETCORE_ENVIRONMENT
          value: "Development"
        - name: ConnectionStrings__DefaultConnection
          value: "Server=mssql,1433;Database=IdentityDb;User Id=sa;Password=Your_password123;TrustServerCertificate=True;"
        ports:
        - containerPort: 80